{
    "presets": [
        [
            "@babel/preset-react",
            {
                "pragma": "h",
                "pragmaFrag": "Fragment"
            }
        ],
        ["@babel/preset-typescript", { "jsxPragma": "h" }]
    ],
    "plugins": ["glsl"
        /*, ["@prefresh/babel-plugin", { "skipEnvCheck": true }] - causes build issues: https://github.com/snowpackjs/snowpack/discussions/1458 */
    ]
}
