/* Canvas */

canvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
}

/* UI */
/* Wrapper */

.uiWrapper, .modalWrapper {
    --edgeButtonMargin: 1.4rem;
    position: fixed;
    z-index: 10;
    top: var(--edgeButtonMargin);
    right: var(--edgeButtonMargin);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.uiWrapper :not(:last-child) {
    margin-right: 1rem;
}

/* Buttons */

.uiButton {
    border: none;
    padding: 0.1rem 0.4rem;
    color: white;
    font-family: monaco, monospace;
    font-size: 0.86rem;
    background-color: rgba(200, 200, 200, 0.09);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.nudgeDown {
    margin-top: 1px;
}

.infoButton {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* Modals */

.modal {
    width: calc(100vw - (var(--edgeButtonMargin) * 2));
    max-width: calc(500px - (var(--edgeButtonMargin) * 2));
}

.modal p:not(:last-child) {
    margin-bottom: 0.8rem;
}

.infoModal {
    position: fixed;
    bottom: var(--edgeButtonMargin);
    right: var(--edgeButtonMargin);
    padding: 0.7rem 0.8rem;
}

.centerModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background-color: rgba(100, 100, 100, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.centerModal .buttonContainer {
    margin-top: 1rem;
}

.centerModal .buttonContainer a {
    text-decoration: none;
}

.centerModal .buttonContainer a:hover {
    background-color: initial;
}

.centerModal .buttonContainer button:not(:last-child) {
    margin-right: 1rem;
}

.shareUrl {
    margin-top: 1em;
    text-align: center;
    padding: 4px 12px;
    background-color: rgba(255, 255, 255, 0.15);
    font-size: 0.9em;
    cursor: default;
}

.shareUrl:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.uiButton:not(.modal):hover, .modal a:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

@media (max-width: 500px) {
    .uiWrapper {
        --edgeButtonMargin: 1.24rem;
        width: calc(100vw - (var(--edgeButtonMargin) * 2));
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .uiWrapper >:not(:last-child) {
        margin: 0;
    }

    .uiButton:not(.modal) {
        padding: 0.16rem 0.47rem;
        font-size: 0.885rem;
    }
}