.uiWrapper {
    --edgeButtonMargin: 1.4rem;
    position: fixed;
    top: var(--edgeButtonMargin);
    right: var(--edgeButtonMargin);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.uiWrapper >:not(:last-child) {
    margin-right: 1rem;
}

.uiButton {
    border: none;
    padding: 0.1rem 0.4rem;
    color: white;
    font-family: monaco, monospace;
    font-size: 0.86rem;
    background-color: rgba(200, 200, 200, 0.09);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.refreshButton {
    margin-top: 1px;
}

.infoButton {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.infoModal {
    position: fixed;
    bottom: var(--edgeButtonMargin);
    left: var(--edgeButtonMargin);
    width: calc(100vw - (var(--edgeButtonMargin) * 2));
    max-width: 450px;
    padding: 0.7rem 0.8rem;
}

.infoModal p:not(:last-child) {
    margin-bottom: 0.8rem;
}

.uiButton:not(.infoModal):hover, .infoModal a:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

@media (max-width: 500px) {
    .uiWrapper {
        --edgeButtonMargin: 1.24rem;
        width: calc(100vw - (var(--edgeButtonMargin) * 2));
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .uiWrapper >:not(:last-child) {
        margin: 0;
    }

    .uiButton:not(.infoModal) {
        padding: 0.15rem 0.47rem;
        font-size: 0.86rem;
    }
}